@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.appPlug {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.wrap {
	width: 500px;
}